<!DOCTYPE html>
<html>
    <head>
        <title>Void</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <h1>Void</h1>
        <form method="POST" action="/generate_playlist">
            <label>Ingrese el nombre de una canción:</label>
            <input type="text" name="song_name">
            <br>
            <label>Ingrese el nombre de otra canción:</label>
            <input type="text" name="song_name">
            <br>
            <label>Ingrese el nombre de otra canción:</label>
            <input type="text" name="song_name">
            <br>
            <label>Ingrese el nombre de otra canción:</label>
            <input type="text" name="song_name">
            <br>
            <!-- Agrega más campos según la cantidad de canciones que quieras ingresar -->
            <input type="submit" value="Generar Playlist">
        </form>
    </body>
</html>
